<div style="margin-top:3rem;">
  <h2 style="margin-left: 5rem;">PRETRAGA</h2><br>
  <div style="float:left;margin-left:5rem;">
    <mat-form-field class="example-chip-list" appearance="fill" style="width:30rem;">
        <mat-label>Pretraga</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let s of searchList" (removed)="remove(s)">
            {{s}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="Unesite rec, frazu..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field><br>

      <button (click)="pretrazi()" mat-button style="background-color:var( --green); margin-left:3rem;margin-right:1rem;">Pretrazi</button>
      <button mat-stroked-button target="_blank" style="color:var(--green);" (click)="naprednaPretraga()">Napredna pretraga</button>
      </div>
      <div style="float:right; margin-right:10rem;border: 1px lightgrey solid; padding:2rem; border-radius:1rem;" *ngIf="prikaziPatente || prikaziAutorskaPrava || prikaziZigove">
      <div *ngIf="prikaziPatente">
        <p style="color:var(--green);text-align: center;">ZAHTEVI ZA PRIZNAVANJE PATENTA</p>
        <div *ngFor="let zahtev of listaZahtevaPatenti">
          <app-red-patent [zahtev]="zahtev"></app-red-patent>
          <div *ngIf="refListaPatenti.get(zahtev.broj_prijave)">
            Dokumenti koji referenciraju ovaj dokument: 
            <div *ngFor="let refZahtev of refListaPatenti.get(zahtev.broj_prijave)">
            &nbsp;&nbsp; - <a [href]="idiNaPatentDetalje(refZahtev.ref_id)">{{refZahtev.ref_prijava}}</a>
            </div>
          </div>
        </div><br>
        <mat-divider></mat-divider>
      </div>
      

      <div *ngIf="prikaziAutorskaPrava">
        <br>
          <p style="color:var(--green);text-align: center;">ZAHTEVI ZA UNOSENJE U EVIDENCIJU I DEPONOVANJE AUTORSKIH DELA</p>
          <div *ngFor="let zahtev of listaZahtevaAutorskaPrava">
            <app-red-autorska-prava [zahtev]="zahtev"></app-red-autorska-prava>
          </div><br>
          <mat-divider></mat-divider>
      </div>
      <div *ngIf="prikaziZigove">
        <br>
        <p style="color:var(--green);text-align: center;">ZAHTEVI ZA PRIZNANJE ZIGA</p>
        <div *ngFor="let zahtev of listaZahtevaZigova">
          <app-red-zig [zahtev]="zahtev"></app-red-zig>
        </div>
      </div>
      </div>
</div>
