<div style="padding-left:4.5rem; margin: 1rem" [formGroup]="pronalazacFormGroup" *ngIf="pronalazacFormGroup">
    <h4>Pronalazač je</h4>
    <mat-radio-group>
    <mat-radio-button [value]="'Imenovan'" checked=true (change)="changeRadioButton('Imenovan')" style="margin-right: 1rem">
      Imenovan
    </mat-radio-button>
    <mat-radio-button [value]="'Anoniman'" (change)="changeRadioButton('Anoniman')" >
        Anoniman
      </mat-radio-button>
</mat-radio-group>
  <div *ngIf="pronalazac==='Imenovan'">
    <app-izbor-lice></app-izbor-lice>
  </div>
  <div *ngIf="pronalazac==='Anoniman'">
    Pronalač želi da bude anoniman!
  </div>

  <div style="display: flex; margin-right:0.2rem; margin-top:0.5rem; margin-bottom: 0.5rem">
    <button style="margin-left:84%" class="previous-button" mat-raised-button matStepperPrevious>Nazad</button>
<!--    [disabled]="autori.length === 0"-->
    <button style="margin-left:1rem" class="next-button" mat-raised-button matStepperNext >Dalje</button>
  </div>
</div>
