<div style="margin-left: 2rem; border: 1px solid black; padding-left: 0.6rem; padding-right: 0.6rem;">
  <div style="margin-top: 0.8rem">
    <h3 class="text-center">POPUNJAVA ZAVOD</h3>
    <div style="margin-bottom: 1rem; display: flex; flex-direction: row">
      <button style="margin-left: 6rem; margin-right: 3rem; height: 2.2rem;" class="previous-button" mat-raised-button (click)="odbijanjeZahteva()">Odbij</button>
      <button class="next-button" mat-raised-button (click)="prihvatanjeZahteva()">Prihvati</button>
    </div>

  </div>
</div>
