<div *ngIf="!resenje"  style="margin-left: 2rem; border: 1px solid black; padding-left: 0.6rem; padding-right: 0.6rem;">
  <div style="margin-top: 0.8rem">
    <h3 class="text-center">POPUNJAVA ZAVOD</h3>
    <h4 class="text-center">Da li dati zahtev za priznanje patenta<br/> ispunjava sve zahteve da bude prihvaćen?</h4>
    <div style="margin-bottom: 1rem; display: flex; flex-direction: row">
      <button style="margin-left: 6rem; margin-right: 3rem; height: 2.2rem;" class="previous-button" mat-raised-button (click)="odbijanjeZahteva()">Odbij</button>
      <button class="next-button" mat-raised-button (click)="prihvatanjeZahteva()">Prihvati</button>
    </div>
  </div>
</div>


<div *ngIf="resenje" style="margin-left: 2rem; border: 1px solid black; padding-left: 0.6rem; padding-right: 0.6rem;">
  <div style="margin-top: 0.8rem">
    <h3 class="text-center">Rešenje - <b style="color:var(--red)">{{odbijenoIliPrihvaceno()}} ZAHTEV</b></h3>

    <h3 *ngIf="resenje.razlog_odbijanja">Razlog odbijanja - <b style="color:var(--red)">{{resenje.razlog_odbijanja}}</b></h3>

    <div style="padding-left: 0.5rem; padding-right: 0.1rem; margin:1rem; float: right">

      <div style="display: flex; flex-direction: column; padding: 0.5rem">
        <span style="font-size: 1.1rem;">{{resenje.ime_prezime_sluzbenika}}</span>
        <span style="font-size: 1.1rem;" class="footer-label"><b>{{resenje.datum_obrade | date: 'dd.MM.yyyy.'}}</b></span>
      </div>

    </div>

  </div>
</div>
