<div class="form-container mat-elevation-z1">
  <h1 class="text-center">Prijava</h1>
  <form color="primary" [formGroup]="formaZaPrijavu">
    <mat-form-field
      class="full-width"
      appearance="fill"
      style="min-height: 30px">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="email@domain.com"
        formControlName="email"
        required />
      <mat-error *ngIf="formaZaPrijavu.invalid">
        {{ uzmiPorukuOGresci() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="password-field" appearance="fill">
      <mat-label>Šifra</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="lozinka"
        placeholder="Šifra" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon class="mat-icon-deep-blue">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          formaZaPrijavu.get('lozinka')?.hasError('minlength') &&
          !formaZaPrijavu.get('lozinka')?.hasError('required')
        ">
        Unesite ispravnu šifru (najmanje 8 karaktera)
      </mat-error>
    </mat-form-field>

    <div class="center margin-top">
      <button mat-raised-button (click)="prijava()" class="login-button">
        Prijavi se
      </button>
    </div>
    <span class="center margin-top" style="color: var(--deep-blue)"
    >Nemaš nalog?
      <a href="/registracija" style="margin-left: 5px" class="link">Registruj se</a>
    </span>
  </form>
</div>

