<div style="padding:2rem">
  <div style="display: flex">
    <div style="display: inline;">
      <h2>{{imeInstitucije}}</h2>
      <h3>{{adresa.grad}}, {{adresa.ulica}} {{adresa.broj}}</h3>
    </div>
<!--    <img style="margin-left: 25%; width: 8rem;height: 8rem" src="assets/images/copyright.png"/>-->
    <h2 style="margin-left: 68%; float:right">Obrazac A-1</h2>
  </div>

  <h1 style="text-align: center">Zahtev za unošenje u evidenciju i deponovanje autorskih dela</h1>
  <div style="margin-left: 10rem; margin-right: 10rem">
    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

</div>

<!--<mat-stepper>-->
<!--  <mat-step label="Step 1" state="phone">-->
<!--    <p>Put down your phones.</p>-->
<!--    <div>-->
<!--      <button mat-button matStepperNext>Next</button>-->
<!--    </div>-->
<!--  </mat-step>-->
<!--  <mat-step label="Step 2" state="chat">-->
<!--    <p>Socialize with each other.</p>-->
<!--    <div>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button matStepperNext>Next</button>-->
<!--    </div>-->
<!--  </mat-step>-->
<!--  <mat-step label="Step 3">-->
<!--    <p>You're welcome.</p>-->
<!--  </mat-step>-->

<!--  &lt;!&ndash; Icon overrides. &ndash;&gt;-->
<!--  <ng-template matStepperIcon="phone">-->
<!--    <mat-icon>call_end</mat-icon>-->
<!--  </ng-template>-->
<!--  <ng-template matStepperIcon="chat">-->
<!--    <mat-icon>forum</mat-icon>-->
<!--  </ng-template>-->
<!--</mat-stepper>-->
