<mat-toolbar color="accent" class="mat-elevation-z3">
  <a [routerLink]="['']" routerLinkActive="active">
    <img
      src="../../../assets/images/logo.png"
      alt="Xml"
      class="app-icon" />
  </a>
  <div class="spacer">
    <div *ngIf="ulogovanKorisnik">
      <a
        *ngIf="sluzbenik"
        [routerLink]="['/registracija']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Registracija</a
      >

      <a
        *ngIf="gradjanin"
        [routerLink]="['/autorska-prava']"
        routerLinkActive="active"
        mat-button
        color="primary"
      >Autorska prava zahtev</a>

      <a
        *ngIf="gradjanin"
        [routerLink]="['/patent']"
        routerLinkActive="active"
        mat-button
        color="primary"
      >Zahtev za patent</a>

      <a
        *ngIf="gradjanin"
        [routerLink]="['/zig']"
        routerLinkActive="active"
        mat-button
        color="primary"
      >Zahtev za zig</a>
  <!--      <a-->
  <!--        *ngIf="isRegular"-->
  <!--        [routerLink]="['/favourite-routes']"-->
  <!--        routerLinkActive="active"-->
  <!--        mat-button-->
  <!--        color="primary"-->
  <!--        >Favourite Routes</a-->
  <!--      >-->
  <!--      <a-->
  <!--        *ngIf="isAdmin"-->
  <!--        [routerLink]="['/drivers']"-->
  <!--        routerLinkActive="active"-->
  <!--        mat-button-->
  <!--        color="primary"-->
  <!--        >Drivers</a-->
  <!--      >-->
  <!--      <a-->
  <!--        *ngIf="isAdmin"-->
  <!--        [routerLink]="['/users']"-->
  <!--        routerLinkActive="active"-->
  <!--        mat-button-->
  <!--        color="primary"-->
  <!--        >Users</a-->
  <!--      >-->

  <!--      <a-->
  <!--        *ngIf="isAdmin"-->
  <!--        [routerLink]="['/messages']"-->
  <!--        routerLinkActive="active"-->
  <!--        mat-button-->
  <!--        color="primary"-->
  <!--        >Messages</a-->
  <!--      >-->
    </div>
  </div>

  <a
    *ngIf="!ulogovanKorisnik"
    [routerLink]="['/prijava']"
    routerLinkActive="active"
    mat-button
    color="primary"
    >Prijava</a
  >
  <a
    *ngIf="!ulogovanKorisnik"
    [routerLink]="['/registracija']"
    routerLinkActive="active"
    mat-raised-button
    class="a-sign-up"
    >Registracija</a
  >

  <a
    *ngIf="ulogovanKorisnik"

    routerLinkActive="active"
    mat-raised-button
    class="a-sign-up"
    (click)="logOut()"
  >Odjavi se</a>
</mat-toolbar>
