<mat-toolbar color="accent" class="mat-elevation-z3">
  <a [routerLink]="['']" routerLinkActive="active">
    <img
      src="../../../assets/images/logo.png"
      alt="Xml"
      class="app-icon" />
  </a>
  <div class="spacer">
    <div *ngIf="ulogovanKorisnik">
      <a
        *ngIf="sluzbenik"
        [routerLink]="['/registracija']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Registracija</a>

      <a
        [matMenuTriggerFor]="menu"
        *ngIf="sluzbenik"
        routerLinkActive="active"
        mat-button
        color="primary"
      >Zahtevi</a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="predjiNaAutorskaPrava()">
          <span>Autorska Prava</span>
        </button>
        <button mat-menu-item (click)="predjiNaPatent()">
          <span>Patent</span>
        </button>
        <button mat-menu-item (click)="predjiNaZig()">
          <span>Zig</span>
        </button>
      </mat-menu>

      <a
        *ngIf="gradjanin"
        [routerLink]="['/autorska-prava']"
        routerLinkActive="active"
        mat-button
        color="primary"
      >Autorska prava zahtev</a>

      <a
        *ngIf="gradjanin"
        [routerLink]="['/patent']"
        routerLinkActive="active"
        mat-button
        color="primary"
      >Zahtev za patent</a>

      <a
        *ngIf="gradjanin"
        [routerLink]="['/zig']"
        routerLinkActive="active"
        mat-button
        color="primary"
      >Zahtev za zig</a>
    </div>
  </div>

  <a
    *ngIf="!ulogovanKorisnik"
    [routerLink]="['/prijava']"
    routerLinkActive="active"
    mat-button
    color="primary"
    >Prijava</a
  >
  <a
    *ngIf="!ulogovanKorisnik"
    [routerLink]="['/registracija']"
    routerLinkActive="active"
    mat-raised-button
    class="a-sign-up"
    >Registracija</a
  >

  <a
    *ngIf="ulogovanKorisnik"

    routerLinkActive="active"
    mat-raised-button
    class="a-sign-up"
    (click)="logOut()"
  >Odjavi se</a>
</mat-toolbar>
