<div *ngIf="podnosilacFormGroup" [formGroup]="podnosilacFormGroup">
  <h2 style="padding-left:5.5rem">
    {{isTrademark ? 'Podnosioci ' : 'Podnosilac '}}<mat-checkbox style="float:right; margin-right: 8rem" (click)="changePodnosilacAutor()">Autor</mat-checkbox>
  </h2>
  <div style="padding-left:2rem; margin-bottom: 1rem">
    <h3 *ngIf="podnosioci.length > 0">Dodati podnosioci</h3>
    <mat-chip-list style="margin-top: 1rem" #chipList>
      <mat-chip *ngFor="let podnosilac of podnosioci">
        <div *ngIf="!podnosilac.isPravnoLice">
          {{podnosilac.ime + ' ' + podnosilac.prezime}}
        </div>
        <div *ngIf="podnosilac.isPravnoLice">
          {{podnosilac.naziv}}
        </div>
        <button matChipRemove>
          <mat-icon (click)="izbrisiPodnosioca(podnosilac)">cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>

  </div>
  <div style="margin-left:5rem; margin-bottom: 0.5rem">
    <mat-form-field appearance="fill" *ngIf="isTrademark">
      <mat-label>Zajednicki predstavnik</mat-label>
      <mat-select formControlName="podaciOZajednickomPredstavniku">
        <mat-option *ngFor="let podnosilac of podnosioci" [value]="podnosilac">
          {{podnosilac.isPravnoLice ? podnosilac.naziv : podnosilac.ime + " " + podnosilac.prezime}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="podnosilacFormGroup.get('podaciOZajednickomPredstavniku')?.hasError('required')">
        Zajednicki predstavnik je <strong>obavezno</strong> polje
      </mat-error>
    </mat-form-field>
  </div>
<app-izbor-lice [isTrademark]="isTrademark" (dodatPodnosilac)="dodajPodnosioca($event)" tipLica="podnosilac"></app-izbor-lice>
<div style="display: flex; margin-right:0.2rem; margin-top:0.5rem; margin-bottom: 0.5rem" *ngIf="btnNazad">
  <button style="margin-left:84%" class="previous-button" mat-raised-button matStepperPrevious>Nazad</button>
<!--    [disabled]="autori.length === 0"-->
  <button *ngIf="!isTrademark" style="margin-left:1rem" class="next-button" mat-raised-button matStepperNext [disabled]="podnosilacFormGroup.invalid">Dalje</button>
</div>
<div *ngIf="!btnNazad && isTrademark">
    <button style="margin-left:84%" class="next-button" [disabled]="podnosioci.length < 1" mat-raised-button matStepperNext>Dalje</button>
  </div>
<div *ngIf="!btnNazad && !isTrademark">
  <button style="margin-left:84%" class="next-button" [disabled]="podnosilacFormGroup.invalid" mat-raised-button matStepperNext>Dalje</button>
</div>

<!--<div style="display: flex; margin-right:0.2rem; margin-top:0.5rem; margin-bottom: 0.5rem">-->
<!--  <button style="margin-left:84%" class="previous-button" mat-raised-button matStepperPrevious>Nazad</button>-->
<!--&lt;!&ndash;    [disabled]="autori.length === 0"&ndash;&gt;-->
<!--  <button style="margin-left:1rem" class="next-button" mat-raised-button matStepperNext >Dalje</button>-->
<!--</div>-->
</div>
