<div style="padding-left:4.5rem; margin: 1rem">
    <h4>Izaberite vrstu {{tipLicaIspis}}</h4>
    <mat-radio-group>
    <mat-radio-button [value]="'Fizičko lice'" checked=true (change)="changeRadioButton('Fizičko lice')" style="margin-right: 1rem">
      Fizičko lice
    </mat-radio-button>
    <mat-radio-button [value]="'Pravno lice'" (change)="changeRadioButton('Pravno lice')">
      Pravno lice
    </mat-radio-button>
    </mat-radio-group>

  </div>
  <div *ngIf="tipPodnosioca==='Fizičko lice'">
    <app-fizicko-lice  [isTrademark]="isTrademark" (dodatPodnosilac)="dodajPodnosioca($event)" [formGroup]="podnosilacFormGroup"></app-fizicko-lice>
  </div>
  <div *ngIf="tipPodnosioca!=='Fizičko lice'">
    <app-pravno-lice [isTrademark]="isTrademark" (dodatPodnosilac)="dodajPodnosioca($event)" [formGroup]="podnosilacFormGroup"></app-pravno-lice>
  </div>
