<div style="padding:2rem">
    <app-zaglavlje obrazac="Z-1"></app-zaglavlje>
    <div style="margin-left: 10rem; margin-right: 10rem">
        <mat-stepper #stepper>
            <mat-step [stepControl]="podnosilacFormGroup">
                <form [formGroup]="podnosilacFormGroup">
                    <ng-template matStepLabel>Podnosioci</ng-template>
                    <app-podnosilac [isTrademark]="true"></app-podnosilac>
                </form>
            </mat-step>

            <mat-step [stepControl]="punomocnikFormGroup">
                <form [formGroup]="punomocnikFormGroup">
                    <ng-template matStepLabel>Punomoćnik</ng-template>
                    <app-punomocnik></app-punomocnik>
                </form>
            </mat-step>

            <mat-step [stepControl]="znakFormGroup">
                <form [formGroup]="znakFormGroup">
                    <ng-template matStepLabel>Znak</ng-template>
                    <app-znak></app-znak>
                </form>
            </mat-step>

            <mat-step [stepControl]="takseIPriloziFormGroup">
                <form [formGroup]="takseIPriloziFormGroup">
                    <ng-template matStepLabel>Prilozi</ng-template>
                    <app-takse-prilozi></app-takse-prilozi>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Kraj</ng-template>
                <p>Uspešno ste popunili formu za kreiranje zahteva za izdavanje ziga.</p>
                <div style="display: flex">
                    <button style="margin-left:40.7rem" class="previous-button" (click)="prikaz()" mat-raised-button matStepperPrevious>Nazad</button>
                    <button style="margin-left:1rem" class="next-button" mat-raised-button (click)="sendTrademark()">Kreiraj</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>

</div>

