<h3 *ngIf="listaZahteva.length === 0">
  Nema zahteva
</h3>
<div *ngFor="let zahtev of listaZahteva; let i = index">
  <div *ngIf="i%3 == 0" style="display:flex; flex-direction: row;">
    <app-red-patent [zahtev]="zahtev" [gradjanin]="jeGradjanin"></app-red-patent>
    <app-red-patent *ngIf="i + 1 < listaZahteva.length"
      [zahtev]="listaZahteva.at(i+1)" [gradjanin]="jeGradjanin"></app-red-patent>
    <app-red-patent *ngIf="i + 2 < listaZahteva.length"
      [zahtev]="listaZahteva.at(i+2)" [gradjanin]="jeGradjanin"></app-red-patent>
  </div>
</div>
