<div *ngIf="priloziFormGroup" [formGroup]="priloziFormGroup" class="prilozi-container">
  <div style="padding-left:2rem">
    <h2>Prilozi</h2>
    <mat-chip-list style="margin-top: 1rem; display: inline;" #chipList>
      <mat-chip
        *ngFor="let prilog of prilozi"
        (removed)="izbrisiPrilog(prilog)">
        {{prilog.putanja?.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>

    <div style="padding:0.5rem; margin-top: 1rem; width: 15rem;border: 2px solid var(--green); border-radius: 1rem">
      <h3>Dodaj prilog</h3>
      <div style="margin-bottom: 1rem;" class="load-image">
        <button type="button" mat-raised-button (click)="fileInput.click()">Učitaj prilog<mat-icon>link</mat-icon></button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file">
        <span class="file-name">{{selectedImage?.name}}</span>
      </div>
      <mat-form-field appearance="fill" class="input-field-margin-right">
        <mat-label>Opis</mat-label>
        <input matInput placeholder="Opis" #input (keyup)="updateOpis(input.value)">
      </mat-form-field>
      <mat-error
        *ngIf="greska">
        Prilog se prvo <strong>mora</strong> učitati
      </mat-error>
      <button class="dodaj-prilog-button" mat-raised-button (click)="addPrilog(input)">Dodaj</button>
    </div>


  </div>
  <div style="display: flex">
    <button style="margin-left:84%" class="previous-button" mat-raised-button matStepperPrevious>Nazad</button>
    <button style="margin-left:1rem" class="next-button" mat-raised-button matStepperNext>Dalje</button>
  </div>
</div>
