<div *ngIf="takseIPriloziFormGroup" class="main-container">
    <div [formGroup]="takseIPriloziFormGroup">
        <h2 style="padding-left:5.5rem">
            Takse & Prilozi <mat-checkbox formControlName="pravoPrvenstvaZatrazeno" style="float:right; margin-right: 8rem"
                >Pravo prvenstva</mat-checkbox>
        </h2>
    </div>
    <div class="row">
        <div class="column">
            <app-zig-takse [formGroup]="takseIPriloziFormGroup"></app-zig-takse>
        </div>

        <div class="column prilozi-column">
            <app-zig-prilozi [formGroup]="takseIPriloziFormGroup"></app-zig-prilozi>
        </div>
    </div>

    <div class="buttons">
        <button style="margin-left:40.7rem" class="previous-button" mat-raised-button matStepperPrevious>Nazad</button>
        <!--    [disabled]="punomocnikFormGroup.invalid"-->
        <button style="margin-left:1rem" class="next-button" mat-raised-button matStepperNext>Dalje</button>
    </div>

</div>
