.dugmici-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

button {
    margin: 2rem 1rem 2rem;
    background-color: var(--green);
    color: var(--deep-blue);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--deep-blue);
}
