<div style="margin: 2rem;">
  <div class="levo">
    <h2>Generisanje izveštaja</h2>
    <h3>Opseg datuma</h3>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Opseg datuma</mat-label>
      <mat-date-range-input [formGroup]="datumi" [rangePicker]="picker">
        <input matStartDate formControlName="pocetni" placeholder="Početni datum">
        <input matEndDate formControlName="krajnji" placeholder="Krajnji datum">
      </mat-date-range-input>
      <mat-hint>dd/MM/YYYY – dd/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <br/>
    <button style="margin-left:10rem; margin-top: 1.5rem;" mat-raised-button (click)="generisiIzvestaj()">Generiši</button>
  </div>

  <div class="desno">
    <button style="float: right; margin-bottom: 1rem; margin-right: 10rem;" mat-raised-button (click)="generisiPDF()">Preuzmi pdf</button>
    <div id="divChart">
      <canvas id="grafik">

      </canvas>
    </div>
  </div>
</div>
