<div style="display: flex">
  <h2>{{zahtev.broj_prijave}}</h2>
  <h3 style="margin-left: 15rem">{{zahtev.datum_podnosenja | date: 'dd.MM.yyyy.'}}</h3>
</div>
<h3>Podnosilac: {{zahtev.podnosilac.ime}} {{zahtev.podnosilac.prezime}}</h3>
<br/>
<button *ngIf="!zahtev.pregledano" style="float: right" class="next-button" mat-raised-button (click)="obradaZahteva()">Obradi zahtev</button>
<button *ngIf="zahtev.pregledano" style="float: right" class="next-button" mat-raised-button (click)="detaljiZahteva()">Detalji</button>


