.znak-container {
    border: 2px solid var(--gray-transparent);
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.pismo-container {
    margin-left: 5.5rem;
    margin-bottom: 1rem;
}

.vrste-container {
    margin-left: 4rem;
    border: 2px solid var(--green);
    background-color: var(--gray-transparent);
    padding: 0.5rem;
    border-radius: 1rem;  
    min-height: 10rem;
    margin-bottom: 1.5rem;  
}

.basic-data-container {
    margin-left: 4rem;
    border: 2px solid var(--green);
    background-color: var(--gray-transparent);
    padding: 0.5rem;
    border-radius: 1rem;
    min-width: 25rem;
}

mat-form-field, mat-expansion-panel {
    margin-left: 1rem;
}

mat-form-field {
    width: 12rem;
}

.vrste-container mat-radio-button {
    display: block;
}

mat-radio-button {
    margin-left: 1rem;
}

h2 {
    margin-left: 5.5rem;
}

.new-block {
    display: block;
}

.boje-chips {
    margin: 0.4rem;
}

.boje-ext-panel {
    max-width: 18rem;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    margin-top: 1rem;
}