<div class="form-container" style="padding: 1rem; margin-left: 2rem; width: 25rem;">
  <p style="text-align:left; margin-bottom: 0.2rem">
    <span style="font-size: 1.5rem; font-weight: bold">{{zahtev.broj_prijave}}</span>
    <span style="float: right; font-size: 1.2rem;font-weight: bold">
      {{zahtev.datum_podnosenja | date: 'dd.MM.yyyy.'}}
    </span>
  </p>
  <h3 *ngIf="zahtev.podnosilac.ime">Podnosilac: {{zahtev.podnosilac.ime}} {{zahtev.podnosilac.prezime}}</h3>
  <h3 *ngIf="zahtev.podnosilac.naziv">Ime organizacije: {{zahtev.podnosilac.naziv}}</h3>
  <br/>
  
  <button *ngIf="!zahtev.pregledano" style="float: right" class="next-button" mat-raised-button (click)="obradaZahteva()">{{!gradjanin ? 'Obradi zahtev' : 'Detalji'}}</button>
  <button *ngIf="zahtev.pregledano" style="float: right" class="next-button" mat-raised-button (click)="detaljiZahteva()">Detalji</button>
</div>
