<div *ngIf="priloziFormGroup" [formGroup]="priloziFormGroup" class="prilozi-container">
  <div style="padding-left:2rem">
    <h2>Prilozi</h2>
    <mat-chip-list style="margin-top: 1rem; display: inline;" #chipList>
      <mat-chip
        *ngFor="let prilog of prilozi"
        (removed)="izbrisiPrilog(prilog)">
        {{prilog}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>

    <input clas="fajl" style="padding-left:0.3rem; margin-top: 1rem" type="file" name="upload" id="prilogId" (change)="dodajPrilog($event)">

  </div>
  <div style="display: flex">
    <button style="margin-left:40.7rem" class="previous-button" mat-raised-button matStepperPrevious>Nazad</button>
    <!--    [disabled]="punomocnikFormGroup.invalid"-->
    <button style="margin-left:1rem" class="next-button" mat-raised-button matStepperNext [disabled]="">Dalje</button>
  </div>
</div>
