<div *ngIf="zahtev" xmlns="http://www.w3.org/1999/html">
  <div style="border: 1px solid black; padding-left: 0.6rem; padding-right: 0.6rem">
    <p style="text-align:left; margin-bottom: 0.2rem">
      <span style="font-size: 1.2rem; font-weight: bold">{{zahtev.institucija.naziv}}</span>
      <span style="float: right; font-size: 1.2rem;font-weight: bold">
        OBRAZAC P-1
      </span>
    </p>
    <span style="font-size: 1rem;">{{zahtev.institucija.adresa.grad}}, {{zahtev.institucija.adresa.ulica}} {{zahtev.institucija.adresa.broj}}</span>

    <div style="margin-top: 0.8rem">

      <h3 class="text-center">ZAHTEV ZA PRIZNANJE PATENTA</h3>
      <h5 *ngIf="dopunskaPrijava() === 'true'" class="text-center">Dopunska prijava</h5>
      <h5 *ngIf="dopunskaPrijava() === 'false'" class="text-center">Izdvojena prijava</h5>
    </div>
  </div>

  <div style="overflow-y: auto">
    <!--       NAZIV PRONALASKA    -->
    <div class="celine-div">
      <p style="text-align:left; margin-bottom: 0.2rem">
        <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Naziv pronalaska</span>

      </p>
      <div *ngFor="let naziv of zahtev.podaci_o_pronalasku" style="margin-bottom: 0.5rem">
        <span *ngIf="naziv.jezik==='srpski'" style="font-size: 1.1rem; text-align: left;">Na srpskom jeziku: <b style="margin-left: 1rem">{{naziv.naziv}}</b><br/></span>
        <span *ngIf="naziv.jezik==='engleski'" style="font-size: 1.1rem;">Na engleskom jeziku: <b>{{naziv.naziv}}</b></span>
      </div>
    </div>


    <!--    PODNOSILAC PRIJAVE-->
    <div *ngIf="zahtev.podnosilac.ime">
      <!--        FIZICKO LICE-->
      <div class="celine-div">
        <p style="text-align:left; margin-bottom: 0.2rem">
          <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Podnosilac prijave - fizičko lice</span>
          <span style="float: right; font-size: 1.2rem;font-weight: bold">Podnosilac prijave je i pronalazač
            <mat-checkbox style="margin-left: 0.4rem" [checked]="zahtev.podnosilac.autor" disabled></mat-checkbox>
          </span>
        </p>
        <app-fizicko-lice-prikaz-zahteva [osoba]="zahtev.podnosilac"></app-fizicko-lice-prikaz-zahteva>
      </div>
    </div>

    <div *ngIf="zahtev.podnosilac.naziv">
      <!--        PRAVNO LICE-->
      <div class="celine-div">
        <p style="text-align:left; margin-bottom: 0.2rem">
          <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Podnosilac prijave - pravno lice</span>
          <span style="float: right; font-size: 1.2rem;font-weight: bold">Podnosilac prijave je i pronalazač
            <mat-checkbox style="margin-left: 0.4rem" [checked]="zahtev.podnosilac.autor" disabled></mat-checkbox>
          </span>
        </p>
        <app-pravno-lice-prikaz-zahteva [osoba]="zahtev.podnosilac"></app-pravno-lice-prikaz-zahteva>
      </div>
    </div>


    <!--    PRONALAZAC -->
    <div *ngIf="!zahtev.pronalazac">
      <div class="celine-div">
        <p style="text-align:left; margin-bottom: 0.2rem">
          <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Pronalazač je ujedno i podnosilac prijave</span>
        </p>
      </div>
    </div>
    <div *ngIf="zahtev.pronalazac">
      <div *ngIf="zahtev.pronalazac.anonimni_pronalazac">
        <span style="float: right; font-size: 1.2rem; margin-left: 1rem; margin-top: 2.3rem">Pronalazač želi da ostane anoniman</span>
      </div>
      <div *ngIf="!zahtev.pronalazac.anonimni_pronalazac">
        <div *ngIf="zahtev.pronalazac.ime">
          <!--        FIZICKO LICE-->
          <div class="celine-div">
            <p style="text-align:left; margin-bottom: 0.2rem">
              <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Pronalazač - fizičko lice</span>
            </p>
            <app-fizicko-lice-prikaz-zahteva [osoba]="zahtev.pronalazac"></app-fizicko-lice-prikaz-zahteva>
          </div>
        </div>

        <div *ngIf="zahtev.pronalazac.naziv">
          <!--        PRAVNO LICE-->
          <div style="border: 2px solid var(--green); padding-left: 0.6rem; padding-right: 0.6rem; margin-top: 2rem">
            <p style="text-align:left; margin-bottom: 0.2rem">
              <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Pronalazač - pravno lice</span>
            </p>
            <app-pravno-lice-prikaz-zahteva [osoba]="zahtev.pronalazac"></app-pravno-lice-prikaz-zahteva>
          </div>
        </div>
      </div>

    </div>


    <!--    PUNOMOCNIK-->
    <div *ngIf="!zahtev.punomocnik">
      <div class="celine-div">
        <p style="text-align:left; margin-bottom: 0.2rem">
          <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Zahtev nije podnet preko punomoćnika</span>
        </p>
      </div>
    </div>
    <div *ngIf="zahtev.punomocnik">
      <div *ngIf="zahtev.punomocnik.ime">
        <!--        FIZICKO LICE-->
        <div class="celine-div">
          <p style="text-align:left; margin-bottom: 0.2rem">
            <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Punomoćnik - fizičko lice</span>
            <span style="float: right; font-size: 1.2rem;font-weight: bold">Punomoćnik za zastupanje
              <mat-checkbox style="margin-left: 0.4rem" [checked]="zahtev.punomocnik.za_zastupanje" disabled></mat-checkbox>
            </span>
            <br/>
            <span style="float: right; font-size: 1.2rem;font-weight: bold">Punomoćnik za prijem
              <mat-checkbox style="margin-left: 0.4rem" [checked]="zahtev.punomocnik.za_prijem_pismeno" disabled></mat-checkbox>
            </span>
            <br/>
          </p>
          <app-fizicko-lice-prikaz-zahteva [osoba]="zahtev.punomocnik"></app-fizicko-lice-prikaz-zahteva>
        </div>
      </div>

      <div *ngIf="zahtev.punomocnik.naziv">
        <!--        PRAVNO LICE-->
        <div style="border: 2px solid var(--green); padding-left: 0.6rem; padding-right: 0.6rem; margin-top: 2rem">
          <p style="text-align:left; margin-bottom: 0.2rem">
            <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Punomoćnik - pravno lice</span>

            <span style="float: right; font-size: 1.2rem;font-weight: bold">Punomoćnik za zastupanje
              <mat-checkbox style="margin-left: 0.4rem" [checked]="zahtev.punomocnik.za_zastupanje" disabled></mat-checkbox>
            </span>
            <br/>
            <span style="float: right; font-size: 1.2rem;font-weight: bold">Punomoćnik za prijem
              <mat-checkbox style="margin-left: 0.4rem" [checked]="zahtev.punomocnik.za_prijem_pismeno" disabled></mat-checkbox>
            </span>
            <br/>
          </p>
          <app-pravno-lice-prikaz-zahteva [osoba]="zahtev.punomocnik"></app-pravno-lice-prikaz-zahteva>
        </div>
      </div>
    </div>


    <!--    DOSTAVLJANJE -->
    <div *ngIf="zahtev.dostavljanje[0]">
      <div class="celine-div">
        <p style="text-align:left; margin-bottom: 0.2rem; padding-bottom: 0.5rem">
          <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Način dostavljanja</span>
        </p>
        <div style="margin-bottom: 0.5rem">
          <mat-checkbox style="margin-right: 0.4rem; margin-left: 0.8rem" [checked]="zahtev.dostavljanje[0].elektronski" disabled></mat-checkbox>
          <span style="font-size: 1.2rem;font-weight: bold">Podnosilac prijave je saglasan da Zavod vrši dostavljanje isključivo elektronskim putem
          </span>
          <br/>
          <mat-checkbox style="margin-right: 0.4rem; margin-left: 0.8rem" [checked]="zahtev.dostavljanje[0].pismeno" disabled></mat-checkbox>
          <span style="font-size: 1.2rem;font-weight: bold">Podnosilac prijave je saglasan da Zavod vrši dostavljanje u papirnoj formi</span>
          <br/>
          <br/>
          <span *ngIf="zahtev.dostavljanje[0].adresa" style="font-size: 1.2rem; margin-left: 0.8rem">
            Ulica i broj, poštanski broj i mesto: {{zahtev.dostavljanje[0].adresa.ulica}} {{zahtev.dostavljanje[0].adresa.broj}}, {{zahtev.dostavljanje[0].adresa.postanskiBroj}} {{zahtev.dostavljanje[0].adresa.grad}}
          </span>
        </div>
      </div>
    </div>

    <!--       RANIJE PRIJAVE    -->
    <div class="celine-div">
      <p style="text-align:left; margin-bottom: 0.2rem">
        <span style="font-size: 1.2rem; font-weight: bold; text-align: left">Zahtev za priznanje prava prvenstva iz ranijih prijava</span>

      </p>
      <div *ngIf="zahtev.zahtev_za_priznanje_prava_iz_ranijih_prijava.length === 0" style="margin-bottom: 0.5rem">
        <span style="font-size: 1.1rem; text-align: left; font-weight: bold">Nema ranijih prijava</span>
      </div>

      <div *ngIf="zahtev.zahtev_za_priznanje_prava_iz_ranijih_prijava.length !== 0" style="margin-bottom: 0.5rem">
        <table style="border-collapse: collapse;">
          <tr>
            <th></th>
            <th>Datum podnošenja<br/>ranije prijave</th>
            <th>Broj ranije prijave</th>
            <th>Dvoslovna oznaka države</th>
          </tr>
          <tr *ngFor="let prijava of zahtev.zahtev_za_priznanje_prava_iz_ranijih_prijava; let i=index">
            <td><b>{{i + 1}}.</b></td>
            <td>{{prijava.datum_podnosenja_prijave | date: 'dd.MM.yyyy.'}}</td>
            <td>{{prijava.broj_ranije_prijave}}</td>
            <td>{{prijava.dvoslovna_oznaka_drzave.toUpperCase()}}</td>
          </tr>
        </table>
      </div>
    </div>

    <!--    KRAJ-->
    <div style="padding-left: 0.5rem; padding-right: 0.1rem; margin:1rem; float: right">

      <div style="display: flex; flex-direction: column; border: 1px solid black; padding: 0.5rem">
        <span style="font-size: 1.1rem;">Broj prijave</span>
        <span class="footer-label"> {{zahtev.broj_prijave}}</span>
      </div>
      <div style="display: flex; flex-direction: column; border: 1px solid black; padding: 0.5rem">
        <span style="font-size: 1.1rem;">Datum podnošenja prijave</span>
        <span class="footer-label"> {{zahtev.datum_podnosenja | date: 'dd.MM.yyyy.'}}</span>
      </div>
      <div style="display: flex; flex-direction: column; border: 1px solid black; padding: 0.5rem">
        <span style="font-size: 1.1rem;">Datum obrade prijave</span>
        <span *ngIf="zahtev.datum_obrade" class="footer-label"> {{zahtev.datum_obrade | date: 'dd.MM.yyyy.'}}</span>
      </div>

    </div>

  </div>

</div>

